<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDh4Pltss7sEhq43Q8ErVySuYnG21fmpHA</string>
	<key>GCM_SENDER_ID</key>
	<string>886455820728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.menghor.twfurniturekh</string>
	<key>PROJECT_ID</key>
	<string>app-pro-221dd</string>
	<key>STORAGE_BUCKET</key>
	<string>app-pro-221dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886455820728:ios:4f7feac9549a279fe2af4d</string>
</dict>
</plist>